body{
    margin: 0;
    padding: 0;
    background: #262626;
    font-family: 'Lobster', cursive;
}
.container{
    width: 1240px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    background: #ff0;
    margin: 5px;
    box-sizing: border-box;
    display: inline-block;
}
.container .box .imageBox{
    position: relative;
    overflow: hidden;
}
.container .box .imageBox img{
    /* max-width: 100%; */
    transition: transform 2s;
    height: 300px; 
    width: 300px;
}
.container .box:hover .imageBox img{
    transform: scale(1.2);
}
.container .box .details{
    position: absolute;
    top: 11px;
    left: 11px;
    bottom: 11px;
    right: 11px;
    background: rgba(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: transform 0.5s;
}
.container .box:hover .details{
    transform: scaleY(1);
}
.container .box .details .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}
.container .box .details .content h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: rgb(204, 110, 21);
}
.container .box .details .content p{
    margin: 10px 0 0;
    padding: 0;
}