*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Baloo Chettan 2', cursive;
    line-height: 1.5;
}
.title-text{
    font-size: 40px;
    text-align: center;
}
.header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.74)),url('../Images/image1.jpg') center/cover no-repeat fixed;
    margin-top: auto;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.hero .title{
    color: whitesmoke;
    font-size: 50px;
}
.hero-button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: rgb(209, 82, 36);
    color: white;
    cursor: pointer;
    border: 2px solid rgb(209, 82, 36) ;
    margin-top: 10px;
}
.hero-button:hover{
    background: white;
    color:rgb(209, 82, 36) ;
    border: none;
}
.pulsate{
    animation: pulsate 3s ease-in-out;
    animation-iteration-count: infinite;
    opacity: 0.3;
    color: black;
}
@keyframes pulsate{
    0%{
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
}
/* end of header  */
/* Nav Bar  */
/* #menu-bar{
    width: 50px;
    height: 10px;
    margin: 50px 10px 10px 20px;
    position: fixed;
    z-index: 1;
    cursor: pointer;
}
.bar{
    background: orange;
    border-radius: 10%;
    transition: 4s;
}
#bar1{
    width: 40px;
    height: 10px;
    transform: translateY(-4px);
}
#bar2{
    width: 40px;
    height: 10px;
}
#bar3{
    width: 40px;
    height: 10px;
    transform: translateY(4px);
}
.change .bar{
    background: white;
}
.change#bar1{
    transform: translateY(6px);
    rotate: z(45deg);
}
.change#bar3{
    transform: translateY(-15px);
    rotate: z(-45deg);
}
.change#bar2{
    opacity: 0;
}
.nav li a{
    text-decoration: none;
    color: orange;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav li:hover{
    color: white;
    background: orange;
    padding-left: 10px;
}
.nav li{
    margin: 20px 10px 10px 20px;
    padding-top: 10px;
    list-style-type: none;
}
.nav{
    display: none;
}
.change-btn{
    display: block;
} */
/* end of nav bar  */
/* our speciality  */
#about{
    padding: 40px;
}
.about{
    margin: 30px 0;
    display: flex;
}
.about-icon .fas{
    font-size: 50px;
    color: coral;
    margin-right: 20px;
}
.about-subtitle{
    text-transform: capitalize;
    color: rgb(243, 84, 21);
    font-size: 25px;
}
.about-info{
    margin-top: 10px;
    line-height: 1.5;
}
.about-icon:hover .fas, .about-subtitle:hover{
    transition: transform 2s ease, color 2s ease;
    transform: translateY(-10px);
    color: rgb(231, 146, 49);
    cursor: pointer;
}
@media screen and (min-width: 576px){
    .about-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about{
        flex: 0 0 calc(50% - 16px);
    }
}
@media screen and (min-width: 972px){
    .about{
        flex: 0 0 calc(33.3% - 16px);
    }
}
/* end of our speciality  */
/* About Us section  */
.menu-image{
    min-height: 80vh;
    background: url('../Images/image2.jpg') center/cover fixed no-repeat;
}
.menu-text{
    min-height: 80vh;
    align-items: center;
    background: orange;
    columns: black;
    padding: 40px 0;
}
.menu-text-center{
    width: 90%;
    margin: 0 auto;
}
.menu-text h1{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.menu-text p{
    margin: 20px 0;
    line-height: 2;
}
.menu-text a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: rgb(51, 48, 48);
    color: rgb(228, 183, 60);
    cursor: pointer;
    border: 2px solid black;
}
.menu-text a:hover{
    color: rgb(228, 183, 60);
    background: white;
    border: none;
}
@media screen and (min-width: 776px){
    .menu{
        display: flex;
    }
    .menu-text{
        flex: 0 0 30%;
    }
    .menu-image{
        flex: 0 0 70%;
        clip-path: polygon(0 0,100% 0, 50% 100%, 0 100%);
    }
    .menu{
        background: orange;
    }
}
/* end of About Us section  */